/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/*! purgecss start ignore */
html,
body {
	@apply h-full;
}

:root {
	--theme-rounded-base: 12px;
	--theme-rounded-container: 4px;
}
/*! purgecss end ignore */
